@model Core_Project.Models.LoginCls;

<style>
    .login-container {
        width: 350px;
        margin: 80px auto;
        padding: 25px;
        border-radius: 10px;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

        .login-container h2 {
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold;
        }

    .form-control {
        width: 100%;
    }

    .btn-login {
        width: 100%;
    }
</style>
<div class="login-container">
    <h2>Login</h2>
<form asp-action="Login_click" class="form-horizontal" method="post">
    <div class="form-group">
        <label class="control-label">Username</label>
        <input asp-for="uname" class="form-control" id="t1" style="width:150px;" />
    </div>
        <div class="form-group position-relative">
        <label class="control-label">Password</label>
        <input asp-for="pass" type="password" class="form-control" id="t2" style="width:150px;"/>
           @*  <span class="toggle-password" onclick="togglePassword()">
                <i id="eyeIcon" class="fas fa-eye"></i>
            </span> *@
            <span class="toggle-password"
                  onclick="togglePassword()"
                  style="position:absolute; right:10px; top:50%; transform:translateY(-50%); cursor:pointer;">
                <i id="eyeIcon" class="fas fa-eye"></i>
            </span>
    </div>
    <br>
    <div class="form-group mt-4">
       @*  <input type="submit" value="Login" class="btn btn-success" /> *@
            <button type="submit" class="btn btn-primary btn-login">Login</button>
    </div>
</form>
</div>
@{
    if(@TempData["msg"]!=null)
    {
        <script>
            alert('@TempData["msg"]');
            document.getElementById('t1').value="";
            document.getElementById('t2').value="";
        </script>
        
    }
    <script>
            function togglePassword() {
            var passwordInput = document.getElementById("t2");
            var eyeIcon = document.getElementById("eyeIcon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }

    </script>

}